*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: beige;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.heading{
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}
.header{
    font-size: 7rem;
    font-family: "Kanit", sans-serif;
     font-weight: 500;
    font-style: normal;
}
.container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub-container{
    height: auto;
    width: 40%;
    background-color: aliceblue;
    padding: 20px;
    
}
/* .input-area{
    width: 100%;
} */
input{
    width: 80%;
    padding: 10px;
    border-right: none;
    background-color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    box-shadow: 2px 2px black;
    /* margin-left: 30px; */
}
input::placeholder{
    font-size: 0.8rem;
    font-weight: 300;
}
#add-butt{
    /* width: 10%; */
    width: 80px;
    padding: 10px;
    font-size: 1rem;
    /* border: none; */
    font-weight: bold;
    background-color: chartreuse;
    box-shadow: 2px 2px black;
    cursor: pointer;
}
#add-butt:hover{
    background-color: greenyellow;
}
.list{
    height: auto;
    width: 100%;
    margin-top: 30px;
    background-color: aliceblue;
}
.list ul{
    list-style-type: none;
background-color: aliceblue;
}
.list-style{
    display: flex;
    /* padding: 10px; */
    padding: 10px 40px;
    justify-content: space-between;
    gap: 5px;
    background-color: aliceblue;
    border-left: 4px solid blueviolet ;
    /* box-shadow: 2px 2px black; */
    margin: 15px 0;
    text-transform: capitalize;
    transition: 1s ease-in-out;
    text-align: justify;
   

}
.button-style{
    height: 30px;
    padding: 0px 20px;
    background-color: crimson;
    color: aliceblue;
    font-size: 1rem;
    cursor: pointer;
    
}
.button-style:hover{
    background-color: brown;
}

.works{
    background-color: aliceblue;
}
.error{
    color: red;
    background-color: rgb(243, 226, 203);
}
.note{
    font-size: 1rem;
    position: fixed;
    text-align: right;
    right: 10px;
    bottom: 10px; 

}

